body{
	font-family: helvetica;
	text-align: center;
}

h1 {
	font-size: 70px;
	font-weight: bold;
}

.header {
	color: white;
}

.link {
	color: white;
	font-size: 18px;
}

h2{
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
}

.ny {
	font-size: 23px;
	color: white;
}

p {
	font-size: 14px;
}

.footer {
	background-color: dimgray;
	font-size: 11px;
	color: white;
	text-align: left;
}
